.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    .sidebar-nav{
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .barraLateralMenu{
        display: flex;
        flex-direction: column;
    }

    
}


