nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;        
    width: 60px;          
    background-color: #222;
     display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;

    .barraLateralMenu {
     display: flex;
    flex-direction: column;
     gap: 20px;
}
    
    .logoff{
        display: flex;
        align-items: end;
    }

    button{
        // background: none;
        // border: none;
        cursor: pointer;
        padding: 10px;

        img{
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    
}

